Repository envoyproxy/gateway, pull requests merged in 2022-08, with the labels that each got.

#178 Adds Initial Infra Manager
  api/config/v1alpha1/helpers.go
  internal/cmd/server.go
  internal/infrastructure/kubernetes/infra.go
  internal/infrastructure/kubernetes/infra_test.go
  internal/infrastructure/kubernetes/serviceaccount.go
  internal/infrastructure/kubernetes/serviceaccount_test.go
  internal/infrastructure/manager.go
  internal/infrastructure/translator.go
  internal/ir/infra.go
  internal/ir/infra_test.go
Labels: area/infra-mgr

#193 Set up watchable to communicate between components
  docs/design/SYSTEM_DESIGN.md
  docs/design/watching.md
  go.mod
  go.sum
  internal/cmd/server.go
  internal/provider/kubernetes/gateway.go
  internal/provider/kubernetes/gatewayclass.go
  internal/provider/kubernetes/kubernetes.go
  internal/provider/kubernetes/kubernetes_test.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/xds/types/resourceversiontable.go
Labels: area/message-service

#196 Updates Integration Tests
  internal/gatewayapi/helpers.go
  internal/provider/kubernetes/kubernetes_test.go
Labels: provider/kubernetes

#188 Adds Initial Infra IR Support to Resource Translator
  internal/gatewayapi/testdata/gateway-allows-same-namespace-with-allowed-httproute.out.yaml
  internal/gatewayapi/testdata/gateway-allows-same-namespace-with-disallowed-httproute.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-allowed-namespaces-selector.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-allowed-routes-group.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-allowed-routes-kind.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-invalid-mode.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-no-certificate-refs.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-secret-does-not-exist.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-secret-in-other-namespace.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-secret-is-not-valid.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-missing-allowed-namespaces-selector.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-tls-secret-in-other-namespace-allowed-by-refgrant.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-unsupported-protocol.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-valid-tls-configuration.out.yaml
  internal/gatewayapi/testdata/gateway-with-two-listeners-with-same-port-and-hostname.out.yaml
  internal/gatewayapi/testdata/gateway-with-two-listeners-with-same-port-and-incompatible-protocol.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-gateway-with-two-listeners.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-gateway.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-listener-on-gateway-with-two-listeners.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-listener.out.yaml
  internal/gatewayapi/testdata/httproute-rule-with-multiple-backends-and-no-weights.out.yaml
  internal/gatewayapi/testdata/httproute-rule-with-multiple-backends-and-weights.out.yaml
  internal/gatewayapi/testdata/httproute-with-backendref-in-other-namespace-allowed-by-refgrant.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backendref-in-other-namespace.out.yaml
  internal/gatewayapi/testdata/httproute-with-non-matching-specific-hostname-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/testdata/httproute-with-single-rule-with-exact-path-match.out.yaml
  internal/gatewayapi/testdata/httproute-with-single-rule-with-path-prefix-and-exact-header-matches.out.yaml
  internal/gatewayapi/testdata/httproute-with-specific-hostname-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/testdata/httproute-with-two-specific-hostnames-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/translator.go
  internal/gatewayapi/translator_test.go
  internal/infrastructure/kubernetes/infra.go
  internal/infrastructure/kubernetes/serviceaccount.go
  internal/infrastructure/kubernetes/serviceaccount_test.go
  internal/infrastructure/manager.go
  internal/ir/infra.go
  internal/ir/infra_test.go
  internal/provider/kubernetes/config/envoy-gateway/deploy_and_ns.yaml
Labels: area/translator

#200 Adds Envoy Deployment Support
  internal/infrastructure/kubernetes/deployment.go
  internal/infrastructure/kubernetes/deployment_test.go
  internal/infrastructure/kubernetes/infra.go
  internal/ir/infra.go
Labels: provider/kubernetes

#202 Adds Initial Envoy Service Support
  go.mod
  go.sum
  internal/gatewayapi/testdata/gateway-allows-same-namespace-with-allowed-httproute.out.yaml
  internal/gatewayapi/testdata/gateway-allows-same-namespace-with-disallowed-httproute.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-allowed-namespaces-selector.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-allowed-routes-group.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-allowed-routes-kind.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-invalid-mode.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-no-certificate-refs.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-secret-does-not-exist.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-secret-in-other-namespace.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-secret-is-not-valid.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-missing-allowed-namespaces-selector.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-tls-secret-in-other-namespace-allowed-by-refgrant.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-unsupported-protocol.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-valid-tls-configuration.out.yaml
  internal/gatewayapi/testdata/gateway-with-two-listeners-with-same-port-and-hostname.out.yaml
  internal/gatewayapi/testdata/gateway-with-two-listeners-with-same-port-and-incompatible-protocol.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-gateway-with-two-listeners.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-gateway.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-listener-on-gateway-with-two-listeners.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-listener.out.yaml
  internal/gatewayapi/testdata/httproute-rule-with-multiple-backends-and-no-weights.out.yaml
  internal/gatewayapi/testdata/httproute-rule-with-multiple-backends-and-weights.out.yaml
  internal/gatewayapi/testdata/httproute-with-backendref-in-other-namespace-allowed-by-refgrant.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backendref-in-other-namespace.out.yaml
  internal/gatewayapi/testdata/httproute-with-non-matching-specific-hostname-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/testdata/httproute-with-single-rule-with-exact-path-match.out.yaml
  internal/gatewayapi/testdata/httproute-with-single-rule-with-path-prefix-and-exact-header-matches.out.yaml
  internal/gatewayapi/testdata/httproute-with-specific-hostname-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/testdata/httproute-with-two-specific-hostnames-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/translator.go
  internal/infrastructure/kubernetes/deployment.go
  internal/infrastructure/kubernetes/infra.go
  internal/infrastructure/kubernetes/service.go
  internal/infrastructure/kubernetes/service_test.go
  internal/ir/infra.go
Labels: provider/kubernetes

#240 install kind
  tools/hack/create-cluster.sh
  tools/make/kube.mk
  tools/make/tools.mk
  tools/src/kind/go.mod
  tools/src/kind/go.sum
  tools/src/kind/pin.go
Labels: area/ci

#264 Updates RBAC for Infra Manager Permissions
  internal/provider/kubernetes/config/rbac/role.yaml
  internal/provider/kubernetes/rbac.go
Labels: provider/kubernetes

#298 Adds Example Manifests
  examples/kubernetes/gateway.yaml
  examples/kubernetes/gatewayclass.yaml
  examples/kubernetes/httpbin.yaml
  examples/kubernetes/httproute.yaml
Labels: documentation, area/ci

#300 Adds Make Target to Generate Release Manifests
  .gitignore
  tools/hack/kind-load-image.sh
  tools/hack/release-manifests.sh
  tools/make/kube.mk
Labels: documentation, area/ci

#309 rm docker buildx action setup
  tools/github-actions/setup-deps/action.yaml
Labels: area/ci
