Repository envoyproxy/gateway, pull requests merged in 2022-09, with the labels that each got.

#308 fix: unexpected verify errors
  tools/make/image.mk
Labels: area/ci

#306 move infra kube logic into infra kube manager
  internal/infrastructure/kubernetes/infra.go
  internal/infrastructure/manager.go
Labels: area/infra-mgr

#313 retag gateway-dev image in release GHA
  .github/workflows/release.yaml
Labels: area/ci

#322 minor Quickstart nits
  README.md
  docs/user/QUICKSTART.md
Labels: documentation

#326 update DEVELOPER docs
  DEVELOPER.md
Labels: documentation

#292 Refactors Kube RBAC
  internal/infrastructure/kubernetes/config/rbac/kustomization.yaml
  internal/infrastructure/kubernetes/config/rbac/role.yaml
  internal/infrastructure/kubernetes/config/rbac/role_binding.yaml
  internal/provider/kubernetes/config/rbac/role.yaml
  internal/provider/kubernetes/rbac.go
  tools/make/kube.mk
Labels: area/infra-mgr, provider/kubernetes

#271 Adds Delete Support to Infra Manager
  internal/gatewayapi/runner/runner.go
  internal/infrastructure/kubernetes/deployment.go
  internal/infrastructure/kubernetes/deployment_test.go
  internal/infrastructure/kubernetes/infra.go
  internal/infrastructure/kubernetes/infra_test.go
  internal/infrastructure/kubernetes/service.go
  internal/infrastructure/kubernetes/service_test.go
  internal/infrastructure/kubernetes/serviceaccount.go
  internal/infrastructure/kubernetes/serviceaccount_test.go
  internal/infrastructure/runner/runner.go
  internal/provider/kubernetes/gatewayclass.go
  internal/provider/kubernetes/kubernetes_test.go
  internal/xds/translator/runner/runner.go
Labels: provider/kubernetes

#328 infra: establish envoy labels
  internal/infrastructure/kubernetes/deployment.go
  internal/infrastructure/kubernetes/deployment_test.go
  internal/infrastructure/kubernetes/service.go
Labels: area/infra-mgr

#249 Add support for redirect filters
  internal/gatewayapi/testdata/httproute-with-redirect-filter-full-path-replace-https.in.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-full-path-replace-https.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-hostname.in.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-hostname.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-invalid-filter-type.in.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-invalid-filter-type.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-invalid-scheme.in.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-invalid-scheme.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-invalid-status.in.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-invalid-status.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-prefix-replace-with-port-http.in.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-prefix-replace-with-port-http.out.yaml
  internal/gatewayapi/translator.go
  internal/gatewayapi/translator_test.go
  internal/ir/xds.go
  internal/ir/xds_test.go
  internal/ir/zz_generated.deepcopy.go
  internal/provider/kubernetes/kubernetes_test.go
  internal/xds/translator/route.go
  internal/xds/translator/testdata/in/xds-ir/http-route-direct-response.yaml
  internal/xds/translator/testdata/in/xds-ir/http-route-redirect.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-direct-response.clusters.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-direct-response.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-direct-response.routes.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-redirect.clusters.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-redirect.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-redirect.routes.yaml
  internal/xds/translator/translator_test.go
Labels: area/translator

#354 bump controller-tools to v0.9.2
  internal/provider/kubernetes/config/crd/bases/config.gateway.envoyproxy.io_envoyproxies.yaml
  tools/src/controller-gen/go.mod
  tools/src/controller-gen/go.sum
Labels: area/ci

#350 Adds Initial Support for Infra IR Metadata
  internal/gatewayapi/testdata/gateway-allows-same-namespace-with-allowed-httproute.out.yaml
  internal/gatewayapi/testdata/gateway-allows-same-namespace-with-disallowed-httproute.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-allowed-namespaces-selector.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-allowed-routes-group.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-allowed-routes-kind.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-invalid-mode.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-no-certificate-refs.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-secret-does-not-exist.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-secret-in-other-namespace.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-secret-is-not-valid.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-missing-allowed-namespaces-selector.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-tls-secret-in-other-namespace-allowed-by-refgrant.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-unsupported-protocol.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-valid-tls-configuration.out.yaml
  internal/gatewayapi/testdata/gateway-with-two-listeners-with-same-port-and-hostname.out.yaml
  internal/gatewayapi/testdata/gateway-with-two-listeners-with-same-port-and-incompatible-protocol.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-gateway-with-two-listeners.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-gateway.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-listener-on-gateway-with-two-listeners.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-listener.out.yaml
  internal/gatewayapi/testdata/httproute-rule-with-multiple-backends-and-no-weights.out.yaml
  internal/gatewayapi/testdata/httproute-rule-with-multiple-backends-and-weights.out.yaml
  internal/gatewayapi/testdata/httproute-with-backendref-in-other-namespace-allowed-by-refgrant.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backendref-in-other-namespace.out.yaml
  internal/gatewayapi/testdata/httproute-with-non-matching-specific-hostname-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/testdata/httproute-with-single-rule-with-exact-path-match.out.yaml
  internal/gatewayapi/testdata/httproute-with-single-rule-with-path-prefix-and-exact-header-matches.out.yaml
  internal/gatewayapi/testdata/httproute-with-specific-hostname-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/testdata/httproute-with-two-specific-hostnames-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/translator.go
  internal/ir/infra.go
  internal/ir/infra_test.go
  internal/ir/zz_generated.deepcopy.go
Labels: area/ir, area/translator

#302 servicePort to containerPort translation
  internal/gatewayapi/runner/runner.go
  internal/gatewayapi/testdata/gateway-allows-same-namespace-with-allowed-httproute.out.yaml
  internal/gatewayapi/testdata/gateway-allows-same-namespace-with-disallowed-httproute.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-tls-secret-in-other-namespace-allowed-by-refgrant.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-valid-tls-configuration.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-gateway-with-two-listeners.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-gateway.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-listener-on-gateway-with-two-listeners.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-listener.out.yaml
  internal/gatewayapi/testdata/httproute-rule-with-multiple-backends-and-no-weights.out.yaml
  internal/gatewayapi/testdata/httproute-rule-with-multiple-backends-and-weights.out.yaml
  internal/gatewayapi/testdata/httproute-with-backendref-in-other-namespace-allowed-by-refgrant.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backendref-in-other-namespace.out.yaml
  internal/gatewayapi/testdata/httproute-with-non-matching-specific-hostname-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-full-path-replace-https.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-hostname.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-invalid-filter-type.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-invalid-scheme.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-invalid-status.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-prefix-replace-with-port-http.out.yaml
  internal/gatewayapi/testdata/httproute-with-single-rule-with-exact-path-match.out.yaml
  internal/gatewayapi/testdata/httproute-with-single-rule-with-path-prefix-and-exact-header-matches.out.yaml
  internal/gatewayapi/testdata/httproute-with-specific-hostname-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/testdata/httproute-with-two-specific-hostnames-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/translator.go
  internal/gatewayapi/translator_test.go
  internal/infrastructure/kubernetes/service.go
  internal/infrastructure/kubernetes/service_test.go
  internal/ir/infra.go
  internal/ir/infra_test.go
Labels: area/translator, area/infra-mgr

#352 Adds Support for Managing Gateway Status Addresses
  internal/envoygateway/config/config.go
  internal/gatewayapi/helpers.go
  internal/gatewayapi/testdata/gateway-allows-same-namespace-with-allowed-httproute.out.yaml
  internal/gatewayapi/testdata/gateway-allows-same-namespace-with-disallowed-httproute.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-allowed-namespaces-selector.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-allowed-routes-group.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-allowed-routes-kind.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-invalid-mode.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-no-certificate-refs.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-secret-does-not-exist.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-secret-in-other-namespace.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-secret-is-not-valid.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-missing-allowed-namespaces-selector.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-tls-secret-in-other-namespace-allowed-by-refgrant.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-unsupported-protocol.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-valid-tls-configuration.out.yaml
  internal/gatewayapi/testdata/gateway-with-two-listeners-with-same-port-and-hostname.out.yaml
  internal/gatewayapi/testdata/gateway-with-two-listeners-with-same-port-and-incompatible-protocol.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-gateway-with-two-listeners.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-gateway.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-listener-on-gateway-with-two-listeners.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-listener.out.yaml
  internal/gatewayapi/testdata/httproute-rule-with-multiple-backends-and-no-weights.out.yaml
  internal/gatewayapi/testdata/httproute-rule-with-multiple-backends-and-weights.out.yaml
  internal/gatewayapi/testdata/httproute-with-backendref-in-other-namespace-allowed-by-refgrant.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backendref-in-other-namespace.out.yaml
  internal/gatewayapi/testdata/httproute-with-non-matching-specific-hostname-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-full-path-replace-https.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-hostname.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-invalid-filter-type.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-invalid-scheme.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-invalid-status.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-prefix-replace-with-port-http.out.yaml
  internal/gatewayapi/testdata/httproute-with-single-rule-with-exact-path-match.out.yaml
  internal/gatewayapi/testdata/httproute-with-single-rule-with-path-prefix-and-exact-header-matches.out.yaml
  internal/gatewayapi/testdata/httproute-with-specific-hostname-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/testdata/httproute-with-two-specific-hostnames-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/translator.go
  internal/infrastructure/kubernetes/deployment.go
  internal/infrastructure/kubernetes/deployment_test.go
  internal/infrastructure/kubernetes/infra.go
  internal/infrastructure/kubernetes/infra_test.go
  internal/infrastructure/kubernetes/labels.go
  internal/infrastructure/kubernetes/labels_test.go
  internal/infrastructure/kubernetes/service.go
  internal/infrastructure/kubernetes/service_test.go
  internal/ir/infra.go
  internal/provider/kubernetes/gateway.go
  internal/status/conditions.go
  internal/status/gateway.go
Labels: area/infra-mgr, provider/kubernetes, release-note

#386 Skip publishing xdsIR if HTTPRoutes not intialized
  internal/gatewayapi/runner/runner.go
  internal/message/types.go
  internal/provider/kubernetes/gateway.go
  internal/provider/kubernetes/gatewayclass.go
  internal/provider/kubernetes/httproute.go
Labels: area/ir

#373 Adds GatewayClass Finalizer
  internal/provider/kubernetes/config/rbac/role.yaml
  internal/provider/kubernetes/gateway.go
  internal/provider/kubernetes/gateway_test.go
  internal/provider/kubernetes/gatewayclass.go
  internal/provider/kubernetes/kubernetes_test.go
  internal/provider/kubernetes/rbac.go
  internal/utils/slice/slice.go
  internal/utils/slice/slice_test.go
Labels: provider/kubernetes

#398 Updates Kube RBAC for Watching Envoy Deployment
  internal/provider/kubernetes/config/rbac/role.yaml
  internal/provider/kubernetes/rbac.go
Labels: provider/kubernetes

#208 Adds Support for Control Plane TLS
  api/config/v1alpha1/helpers.go
  go.mod
  go.sum
  internal/cmd/certgen.go
  internal/cmd/certgen_test.go
  internal/cmd/root.go
  internal/crypto/certgen.go
  internal/crypto/certgen_test.go
  internal/envoygateway/config/config.go
  internal/infrastructure/kubernetes/bootstrap.yaml.tpl
  internal/infrastructure/kubernetes/configmap.go
  internal/infrastructure/kubernetes/configmap_test.go
  internal/infrastructure/kubernetes/deployment.go
  internal/infrastructure/kubernetes/infra.go
  internal/provider/kubernetes/config/envoy-gateway/certgen-job.yaml
  internal/provider/kubernetes/config/envoy-gateway/deploy_and_ns.yaml
  internal/provider/kubernetes/config/envoy-gateway/kustomization.yaml
  internal/provider/kubernetes/secrets.go
  internal/xds/server/runner/runner.go
  internal/xds/server/runner/runner_test.go
Labels: provider/kubernetes

#401 Adds HTTPRoute ParentRef Validation
  internal/provider/kubernetes/httproute.go
  internal/provider/kubernetes/httproute_test.go
Labels: provider/kubernetes

#425 Update Conformance Tests
  .github/workflows/build_and_test.yaml
  test/conformance/conformance_test.go
  tools/hack/kind-load-image.sh
  tools/make/kube.mk
Labels: area/ci

#428 Updates Gateway Status Addresses
  internal/status/gateway.go
Labels: area/ci

#438 Adds Additional Conformance Tests
  test/conformance/conformance_test.go
Labels: area/ci, area/conformance

#442 Handle IR Deletes
  internal/envoygateway/config/config.go
  internal/gatewayapi/runner/runner.go
  internal/gatewayapi/runner/runner_test.go
  internal/infrastructure/kubernetes/configmap.go
  internal/infrastructure/kubernetes/configmap_test.go
  internal/infrastructure/kubernetes/deployment.go
  internal/infrastructure/kubernetes/infra.go
  internal/infrastructure/runner/runner.go
  internal/xds/server/runner/runner.go
  internal/xds/translator/runner/runner.go
  internal/xds/translator/runner/runner_test.go
Labels: area/ir, area/message-service, area/translator, area/xds-server, area/infra-mgr

#456 set Gateway namespace and name labels on dependent resources
  internal/gatewayapi/testdata/gateway-allows-same-namespace-with-allowed-httproute.out.yaml
  internal/gatewayapi/testdata/gateway-allows-same-namespace-with-disallowed-httproute.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-allowed-namespaces-selector.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-allowed-routes-group.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-allowed-routes-kind.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-invalid-mode.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-no-certificate-refs.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-secret-does-not-exist.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-secret-in-other-namespace.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-invalid-tls-configuration-secret-is-not-valid.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-missing-allowed-namespaces-selector.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-tls-secret-in-other-namespace-allowed-by-refgrant.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-unsupported-protocol.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-valid-tls-configuration.out.yaml
  internal/gatewayapi/testdata/gateway-with-two-listeners-with-same-port-and-hostname.out.yaml
  internal/gatewayapi/testdata/gateway-with-two-listeners-with-same-port-and-incompatible-protocol.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-gateway-with-two-listeners.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-gateway.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-listener-on-gateway-with-two-listeners.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-listener.out.yaml
  internal/gatewayapi/testdata/httproute-rule-with-multiple-backends-and-no-weights.out.yaml
  internal/gatewayapi/testdata/httproute-rule-with-multiple-backends-and-weights.out.yaml
  internal/gatewayapi/testdata/httproute-with-backendref-in-other-namespace-allowed-by-refgrant.out.yaml
  internal/gatewayapi/testdata/httproute-with-header-filter-duplicate-add-multiple-filters.out.yaml
  internal/gatewayapi/testdata/httproute-with-header-filter-duplicate-adds.out.yaml
  internal/gatewayapi/testdata/httproute-with-header-filter-duplicate-remove-multiple-filters.out.yaml
  internal/gatewayapi/testdata/httproute-with-header-filter-duplicate-removes.out.yaml
  internal/gatewayapi/testdata/httproute-with-header-filter-empty-header-values.out.yaml
  internal/gatewayapi/testdata/httproute-with-header-filter-empty-headers.out.yaml
  internal/gatewayapi/testdata/httproute-with-header-filter-invalid-headers.out.yaml
  internal/gatewayapi/testdata/httproute-with-header-filter-no-headers.out.yaml
  internal/gatewayapi/testdata/httproute-with-header-filter-no-valid-headers.out.yaml
  internal/gatewayapi/testdata/httproute-with-header-filter-remove.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backend-ref-bad-port.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backend-ref-invalid-group.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backend-ref-invalid-kind.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backend-ref-no-port.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backend-ref-no-service.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backendref-in-other-namespace.out.yaml
  internal/gatewayapi/testdata/httproute-with-non-matching-specific-hostname-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-full-path-replace-https.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-hostname.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-invalid-filter-type.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-invalid-scheme.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-invalid-status.out.yaml
  internal/gatewayapi/testdata/httproute-with-redirect-filter-prefix-replace-with-port-http.out.yaml
  internal/gatewayapi/testdata/httproute-with-single-rule-with-exact-path-match.out.yaml
  internal/gatewayapi/testdata/httproute-with-single-rule-with-path-prefix-and-exact-header-matches.out.yaml
  internal/gatewayapi/testdata/httproute-with-some-invalid-backend-refs-no-service.out.yaml
  internal/gatewayapi/testdata/httproute-with-specific-hostname-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/testdata/httproute-with-two-specific-hostnames-attaching-to-gateway-with-wildcard-hostname.out.yaml
  internal/gatewayapi/translator.go
  internal/infrastructure/kubernetes/deployment.go
  internal/infrastructure/kubernetes/deployment_test.go
  internal/infrastructure/kubernetes/infra_test.go
  internal/infrastructure/kubernetes/service.go
  internal/infrastructure/kubernetes/service_test.go
  internal/infrastructure/kubernetes/serviceaccount_test.go
  internal/provider/kubernetes/gateway.go
Labels: provider/kubernetes

#473 Generate Delta xDs config in the xds translator
  internal/xds/translator/testdata/out/xds-ir/http-route-direct-response.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-redirect.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-request-headers.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-weighted-invalid-backend.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route.listeners.yaml
  internal/xds/translator/translator.go
Labels: area/xds-server

#475 Adds v0.2.0-rc2 Changelog
  changelogs/0.2.0-rc2.yaml
Labels: documentation

#478 Updates release-manifests Target
  kustomization.yaml
  tools/hack/release-manifests.sh
  tools/linter/yamllint/.yamllint
Labels: area/ci

#481 Updates Quickstart for v0.2.0-rc2
  docs/user/QUICKSTART.md
Labels: documentation, area/installation
