Repository envoyproxy/gateway, pull requests merged in 2023-03, with the labels that each got.

#1089 feat: add egctl only client version
  internal/cmd/egctl/version.go
Labels: area/egctl

#1070 xds Bootstrap Design and API
  api/config/v1alpha1/envoyproxy_types.go
  api/config/v1alpha1/zz_generated.deepcopy.go
  charts/eg/crds/generated/config.gateway.envoyproxy.io_envoyproxies.yaml
  docs/latest/design/bootstrap.md
  docs/latest/design_docs.rst
Labels: area/api, area/extensions

#1115 Allow user to configure annotations on infra
  api/config/v1alpha1/envoyproxy_types.go
  api/config/v1alpha1/helpers.go
  api/config/v1alpha1/shared_types.go
  api/config/v1alpha1/zz_generated.deepcopy.go
  charts/eg/crds/generated/config.gateway.envoyproxy.io_envoyproxies.yaml
  internal/infrastructure/kubernetes/proxy_deployment.go
  internal/infrastructure/kubernetes/proxy_deployment_test.go
  internal/infrastructure/kubernetes/proxy_service.go
  internal/infrastructure/kubernetes/proxy_service_test.go
Labels: enhancement, area/api, area/infra-mgr, provider/kubernetes, priority/high

#1085 feat: add hack and docs for installing egctl
  docs/latest/user/egctl.md
  tools/hack/get-egctl.sh
  tools/make/docs.mk
Labels: area/installation, area/egctl

#1155 chore: rename charts and add CI for release
  .github/workflows/build_and_test.yaml
  .github/workflows/latest_release.yaml
  .github/workflows/release.yaml
  charts/envoy-gateway/README.md
  charts/gateway-helm/.helmignore
  charts/gateway-helm/Chart.yaml
  charts/gateway-helm/README.md
  charts/gateway-helm/crds/gatewayapi-crds.yaml
  charts/gateway-helm/crds/generated/config.gateway.envoyproxy.io_envoyproxies.yaml
  charts/gateway-helm/crds/generated/gateway.envoyproxy.io_authenticationfilters.yaml
  charts/gateway-helm/crds/generated/gateway.envoyproxy.io_ratelimitfilters.yaml
  charts/gateway-helm/templates/NOTES.txt
  charts/gateway-helm/templates/_helpers.tpl
  charts/gateway-helm/templates/certgen-rbac.yaml
  charts/gateway-helm/templates/certgen.yaml
  charts/gateway-helm/templates/envoy-gateway-config.yaml
  charts/gateway-helm/templates/envoy-gateway-deployment.yaml
  charts/gateway-helm/templates/envoy-gateway-metrics-service.yaml
  charts/gateway-helm/templates/envoy-gateway-rbac.yaml
  charts/gateway-helm/templates/envoy-gateway-service.yaml
  charts/gateway-helm/templates/generated/rbac/role.yaml
  charts/gateway-helm/templates/infra-manager-rbac.yaml
  charts/gateway-helm/templates/leader-election-rbac.yaml
  charts/gateway-helm/templates/metrics-reader-rbac.yaml
  charts/gateway-helm/templates/proxy-rbac.yaml
  charts/gateway-helm/values.yaml
  internal/provider/kubernetes/kubernetes_test.go
  tools/linter/yamllint/.yamllint
  tools/make/helm.mk
  tools/make/kube.mk
Labels: priority/high
