Repository envoyproxy/gateway, pull requests merged in 2023-07, with the labels that each got.

#1609 refactor: optimize sa create or update and fix gateway memory leak on openshift.
  internal/infrastructure/kubernetes/infra_resource.go
Labels: area/infra-mgr, refactor

#1632 Add opt-in knob to enable EnvoyPatchPolicy
  api/config/v1alpha1/envoygateway_types.go
  api/config/v1alpha1/zz_generated.deepcopy.go
  docs/latest/api/config_types.md
  internal/envoygateway/config/config.go
  internal/envoygateway/config/config_test.go
  internal/extension/registry/extension_manager.go
  internal/extension/testutils/manager.go
  internal/gatewayapi/runner/runner.go
  internal/gatewayapi/runner/runner_test.go
  internal/provider/kubernetes/controller.go
  internal/xds/translator/translator_test.go
Labels: release-note

#1594 refactor: set defaults in Deployment, else k8s sets them for you, creating infinite reconciliation loop
  internal/infrastructure/kubernetes/proxy/resource.go
  internal/infrastructure/kubernetes/proxy/resource_provider.go
  internal/infrastructure/kubernetes/proxy/resource_provider_test.go
  internal/infrastructure/kubernetes/proxy/testdata/deployments/bootstrap.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/component-level.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/custom.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/default-env.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/default.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/enable-prometheus.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/extension-env.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/volumes.yaml
  internal/infrastructure/kubernetes/proxy_infra_test.go
  internal/infrastructure/kubernetes/ratelimit/resource.go
  internal/infrastructure/kubernetes/ratelimit/resource_provider.go
  internal/infrastructure/kubernetes/ratelimit/resource_provider_test.go
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/affinity.yaml
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/custom.yaml
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/default-env.yaml
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/default.yaml
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/extension-env.yaml
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/override-env.yaml
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/redis-tls-settings.yaml
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/tolerations.yaml
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/volumes.yaml
  internal/infrastructure/kubernetes/resource/resource_test.go
Labels: area/infra-mgr, refactor, cherrypick/release-v0.5
