Repository envoyproxy/gateway, pull requests merged in 2023-06, with the labels that each got.

#1410 feat: EnvoyPatchPolicy API
  api/v1alpha1/envoypatchpolicy_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/gateway-helm/crds/generated/gateway.envoyproxy.io_envoypatchpolicies.yaml
  docs/latest/api/extension_types.md
  docs/latest/design/envoy-patch-policy.md
Labels: enhancement, area/api, area/config

#1496 fix: fix parametersRef check bug.
  internal/provider/kubernetes/controller.go
Labels: bug, provider/kubernetes

#1429 feat(observability): add pprof debug support to eg
  api/config/v1alpha1/envoygateway_types.go
  api/config/v1alpha1/helpers.go
  api/config/v1alpha1/validate_test.go
  api/config/v1alpha1/zz_generated.deepcopy.go
  docs/latest/api/config_types.md
  docs/latest/design/pprof.md
  internal/cmd/server.go
Labels: enhancement, area/observability

#1525 Set ALPN values in xds Listener
  internal/cmd/egctl/testdata/translate/in/default-resources.yaml
  internal/cmd/egctl/testdata/translate/out/default-resources.all.yaml
  internal/cmd/egctl/testdata/translate/out/from-gateway-api-to-xds.all.json
  internal/cmd/egctl/testdata/translate/out/from-gateway-api-to-xds.all.yaml
  internal/cmd/egctl/testdata/translate/out/from-gateway-api-to-xds.listener.yaml
  internal/xds/translator/listener.go
  internal/xds/translator/testdata/out/extension-xds-ir/http-route-extension-filter.listeners.yaml
  internal/xds/translator/testdata/out/extension-xds-ir/http-route.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/accesslog.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/authn-multi-route-multi-provider.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/authn-multi-route-single-provider.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/authn-ratelimit.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/authn-single-route-single-match.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-direct-response.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-mirror.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-redirect.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-regex.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-request-headers.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-response-add-headers.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-response-add-remove-headers.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-response-remove-headers.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-rewrite-root-path-url-prefix.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-rewrite-url-fullpath.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-rewrite-url-host.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-rewrite-url-prefix.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-weighted-backend.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-weighted-invalid-backend.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/multiple-listeners-same-port.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/ratelimit-custom-domain.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/ratelimit-sourceip.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/ratelimit.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/simple-tls.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/tcp-route-tls-terminate.listeners.yaml
Labels: enhancement, area/translator, area/xds-server

#1521 feat: support deployment strategy settings.
  api/config/v1alpha1/helpers.go
  api/config/v1alpha1/shared_types.go
  api/config/v1alpha1/zz_generated.deepcopy.go
  charts/gateway-helm/crds/generated/config.gateway.envoyproxy.io_envoyproxies.yaml
  docs/latest/api/config_types.md
  internal/envoygateway/config/decoder_test.go
  internal/envoygateway/config/testdata/decoder/in/gateway-ratelimit.yaml
  internal/infrastructure/kubernetes/proxy/resource_provider.go
  internal/infrastructure/kubernetes/proxy/resource_provider_test.go
  internal/infrastructure/kubernetes/proxy/testdata/deployments/bootstrap.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/component-level.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/custom.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/default-env.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/default.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/extension-env.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/volumes.yaml
  internal/infrastructure/kubernetes/ratelimit/resource_provider.go
  internal/infrastructure/kubernetes/ratelimit/resource_provider_test.go
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/affinity.yaml
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/custom.yaml
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/default-env.yaml
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/default.yaml
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/extension-env.yaml
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/override-env.yaml
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/redis-tls-settings.yaml
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/tolerations.yaml
  internal/infrastructure/kubernetes/ratelimit/testdata/deployments/volumes.yaml
Labels: enhancement, area/api, area/config

#1513 api: oidc authentication filter type
  api/v1alpha1/authenticationfilter_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/gateway-helm/crds/generated/gateway.envoyproxy.io_authenticationfilters.yaml
  docs/latest/api/extension_types.md
Labels: enhancement, area/api, area/config

#1530 fix: logging override default setting for all components.
  api/config/v1alpha1/helpers.go
  api/config/v1alpha1/validate_test.go
  internal/envoygateway/config/testdata/decoder/in/gateway-logging.yaml
  internal/envoygateway/config/testdata/decoder/in/invalid-gateway-logging.yaml
  internal/logging/log.go
Labels: bug, area/api, area/config

#1536 fix: Fixes deployment strategy to remove patch strategy tag.
  api/config/v1alpha1/shared_types.go
Labels: bug, area/api, area/config

#1539 chore: modify the bootstrap configuration to remove deprecated fields
  api/config/v1alpha1/testdata/different-dynamic-resources-user-bootstrap.yaml
  api/config/v1alpha1/testdata/different-xds-cluster-address-bootstrap.yaml
  api/config/v1alpha1/testdata/missing-admin-address-user-bootstrap.yaml
  api/config/v1alpha1/testdata/valid-user-bootstrap.yaml
  docs/latest/user/customize-envoyproxy.md
  docs/latest/user/egctl.md
  internal/cmd/egctl/testdata/translate/out/default-resources.all.yaml
  internal/cmd/egctl/testdata/translate/out/from-gateway-api-to-xds.all.json
  internal/cmd/egctl/testdata/translate/out/from-gateway-api-to-xds.all.yaml
  internal/cmd/egctl/testdata/translate/out/from-gateway-api-to-xds.bootstrap.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/custom.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/default-env.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/default.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/extension-env.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/volumes.yaml
  internal/xds/bootstrap/bootstrap.yaml.tpl
Labels: enhancement, area/config

#1540 e2e: improve accesslog tests
  examples/fluent-bit/helm-values.yaml
  examples/otel-collector/helm-values.yaml
  test/config/gatewayclass.yaml
  test/e2e/tests/accesslog.go
  tools/make/kube.mk
Labels: area/testing

#1571 fix: fixes snapshotcache invalid memory address or nil pointer.
  internal/xds/cache/snapshotcache.go
Labels: bug

#1543 refactor: optimize dump the EG config logic in debug mode.
  internal/cmd/server.go
Labels: refactor

#1542 fix: fixes update k8s resource bug.
  internal/infrastructure/kubernetes/infra_client.go
  internal/status/status.go
Labels: bug, area/infra-mgr, provider/kubernetes

#1597 Fix `make conformance` on Mac
  tools/make/image.mk
Labels: area/tooling
