Repository envoyproxy/gateway, pull requests merged in 2023-01, with the labels that each got.

#706 Ratelimiting Design
  api/v1alpha1/ratelimitfilter_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/latest/design/ratelimit.md
  internal/provider/kubernetes/config/crd/bases/gateway.envoyproxy.io_ratelimitfilters.yaml
Labels: area/api, priority/high

#842 Adds Logging API Type to EnvoyProxy
  api/config/v1alpha1/envoyproxy_types.go
  api/config/v1alpha1/zz_generated.deepcopy.go
  internal/provider/kubernetes/config/crd/bases/config.gateway.envoyproxy.io_envoyproxies.yaml
Labels: area/api, area/config

#858 Add details on Global Rate Limit implementation
  api/config/v1alpha1/envoyproxy_types.go
  docs/latest/design/ratelimit.md
  internal/provider/kubernetes/config/crd/bases/config.gateway.envoyproxy.io_envoyproxies.yaml
Labels: documentation, priority/high

#871 Rate Limit Service config in EnvoyGateway API
  api/config/v1alpha1/envoygateway_types.go
  api/config/v1alpha1/zz_generated.deepcopy.go
Labels: enhancement, area/api, priority/high

#867 Allow upgrade to websocket for HTTP 1.1 listeners
  internal/xds/translator/listener.go
  internal/xds/translator/testdata/out/xds-ir/http-route-direct-response.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-redirect.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-request-headers.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-response-add-headers.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-response-add-remove-headers.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-response-remove-headers.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-rewrite-url-fullpath.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-rewrite-url-host.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-rewrite-url-prefix.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-weighted-backend.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-weighted-invalid-backend.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/multiple-listeners-same-port.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/ratelimit.listeners.yaml
  internal/xds/translator/testdata/out/xds-ir/simple-tls.listeners.yaml
Labels: release-note

#861 Adds EnvoyProxy Support to Kubernetes Provider
  api/config/v1alpha1/envoyproxy_types.go
  api/config/v1alpha1/validation/envoyproxy.go
  api/config/v1alpha1/validation/envoyproxy_test.go
  internal/gatewayapi/resource.go
  internal/gatewayapi/zz_generated.deepcopy.go
  internal/provider/kubernetes/config/rbac/role.yaml
  internal/provider/kubernetes/controller.go
  internal/provider/kubernetes/controller_test.go
  internal/provider/kubernetes/helpers.go
  internal/provider/kubernetes/helpers_test.go
  internal/provider/kubernetes/kubernetes_test.go
  internal/provider/kubernetes/rbac.go
  internal/provider/kubernetes/routes_test.go
  internal/provider/kubernetes/test/utils.go
  internal/status/conditions.go
  internal/status/conditions_test.go
  internal/status/gatewayclass.go
Labels: area/config, provider/kubernetes

#930 Minor User Doc Improvements
  docs/latest/user/http-redirect.md
  docs/latest/user/http-request-headers.md
  docs/latest/user/http-response-headers.md
  docs/latest/user/http-routing.md
  docs/latest/user/http-traffic-splitting.md
  docs/latest/user/http-urlrewrite.md
  docs/latest/user/quickstart.md
  docs/latest/user/secure-gateways.md
  docs/latest/user/tcp-routing.md
  docs/latest/user/tls-passthrough.md
  docs/latest/user/udp-routing.md
  docs/v0.2.0/user/http-redirect.md
  docs/v0.2.0/user/http-request-headers.md
  docs/v0.2.0/user/http-routing.md
  docs/v0.2.0/user/http-traffic-splitting.md
  docs/v0.2.0/user/quickstart.md
  docs/v0.2.0/user/secure-gateways.md
  docs/v0.2.0/user/tls-passthrough.md
Labels: documentation

#948 Updates CODEOWNERS.md Title
  CODEOWNERS.md
Labels: documentation
