Repository envoyproxy/gateway, pull requests merged in 2024-05, with the labels that each got.

#3332 fix: add proxy protocol always as first listenerFilter
  internal/xds/translator/proxy_protocol.go
  internal/xds/translator/proxy_protocol_test.go
Labels: cherrypick/release-v1.0

#3063 API: Backend
  api/v1alpha1/backend_types.go
  api/v1alpha1/envoygateway_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/gateway-helm/crds/generated/gateway.envoyproxy.io_backends.yaml
  site/content/en/contributions/design/backend.md
  site/content/en/latest/api/extension_types.md
  test/cel-validation/backend_test.go
Labels: area/api

#3443 API: Follow up on XFCC header
  api/v1alpha1/clienttrafficpolicy_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/gateway-helm/crds/generated/gateway.envoyproxy.io_clienttrafficpolicies.yaml
  internal/gatewayapi/clienttrafficpolicy.go
  internal/gatewayapi/testdata/clienttrafficpolicy-mtls-forward-client-cert-custom-data.in.yaml
  internal/gatewayapi/testdata/clienttrafficpolicy-mtls-forward-client-cert-custom-data.out.yaml
  internal/gatewayapi/testdata/clienttrafficpolicy-mtls-forward-client-cert.in.yaml
  internal/gatewayapi/testdata/clienttrafficpolicy-mtls-forward-client-cert.out.yaml
  internal/ir/xds.go
  internal/ir/zz_generated.deepcopy.go
  internal/xds/translator/listener.go
  internal/xds/translator/testdata/in/xds-ir/mutual-tls-forward-client-certificate-with-custom-data.yaml
  site/content/en/latest/api/extension_types.md
  test/cel-validation/clienttrafficpolicy_test.go
Labels: area/api

#3423 API: add more oidc configuration settings
  api/v1alpha1/oidc_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/gateway-helm/crds/generated/gateway.envoyproxy.io_securitypolicies.yaml
  site/content/en/latest/api/extension_types.md
Labels: area/api, release-note
