Repository envoyproxy/gateway, pull requests merged in 2024-12, with the labels that each got.

#4851 fix: EnvoyExtensionPolicy reference grant
  internal/provider/kubernetes/controller.go
  internal/provider/kubernetes/controller_test.go
  internal/provider/kubernetes/indexers.go
  release-notes/current.yaml
Labels: cherrypick/release-v1.1.4, cherrypick/release-v1.2.4

#4784 fix: btlsp section name doesn't support port name
  internal/cmd/egctl/translate_test.go
  internal/gatewayapi/backendtlspolicy.go
  internal/gatewayapi/resource/resource.go
  internal/gatewayapi/resource/zz_generated.deepcopy.go
  internal/gatewayapi/route.go
  internal/gatewayapi/testdata/backendtlspolicy-across-ns.in.yaml
  internal/gatewayapi/testdata/backendtlspolicy-across-ns.out.yaml
  internal/gatewayapi/testdata/backendtlspolicy-ca-only-secret.in.yaml
  internal/gatewayapi/testdata/backendtlspolicy-ca-only-secret.out.yaml
  internal/gatewayapi/testdata/backendtlspolicy-ca-only.in.yaml
  internal/gatewayapi/testdata/backendtlspolicy-ca-only.out.yaml
  internal/gatewayapi/testdata/backendtlspolicy-default-ns-targetrefs.in.yaml
  internal/gatewayapi/testdata/backendtlspolicy-default-ns-targetrefs.out.yaml
  internal/gatewayapi/testdata/backendtlspolicy-default-ns.in.yaml
  internal/gatewayapi/testdata/backendtlspolicy-default-ns.out.yaml
  internal/gatewayapi/testdata/backendtlspolicy-invalid-ca.in.yaml
  internal/gatewayapi/testdata/backendtlspolicy-invalid-ca.out.yaml
  internal/gatewayapi/testdata/backendtlspolicy-multiple-targets.in.yaml
  internal/gatewayapi/testdata/backendtlspolicy-multiple-targets.out.yaml
  internal/gatewayapi/testdata/backendtlspolicy-system-truststore.in.yaml
  internal/gatewayapi/testdata/backendtlspolicy-system-truststore.out.yaml
  internal/gatewayapi/testdata/envoyextensionpolicy-with-extproc-with-backendtlspolicy.in.yaml
  internal/gatewayapi/testdata/envoyextensionpolicy-with-extproc-with-backendtlspolicy.out.yaml
  internal/gatewayapi/testdata/envoyextensionpolicy-with-extproc-with-multiple-backendrefs.in.yaml
  internal/gatewayapi/testdata/envoyextensionpolicy-with-extproc-with-multiple-backendrefs.out.yaml
  internal/gatewayapi/testdata/envoyextensionpolicy-with-extproc-with-traffic-features.in.yaml
  internal/gatewayapi/testdata/envoyextensionpolicy-with-extproc-with-traffic-features.out.yaml
  internal/gatewayapi/testdata/envoyproxy-priority-backend.in.yaml
  internal/gatewayapi/testdata/envoyproxy-priority-backend.out.yaml
  internal/gatewayapi/testdata/securitypolicy-with-extauth-with-backendtlspolicy.in.yaml
  internal/gatewayapi/testdata/securitypolicy-with-extauth-with-backendtlspolicy.out.yaml
  internal/gatewayapi/translator_test.go
  release-notes/current.yaml
  test/e2e/base/manifests.yaml
  test/e2e/testdata/backend-tls-settings.yaml
  test/e2e/testdata/backend-tls.yaml
  test/e2e/testdata/ext-auth-grpc-securitypolicy.yaml
  test/e2e/testdata/ext-auth-grpc-service.yaml
  test/e2e/testdata/ext-auth-http-service.yaml
  test/e2e/testdata/ext-proc-envoyextensionpolicy.yaml
  test/e2e/testdata/ext-proc-service.yaml
Labels: cherrypick/release-v1.2.4

#4363 refactor: return 500 when BackendTLSPolicy translation fails
  internal/gatewayapi/backendtlspolicy.go
  internal/gatewayapi/ext_service.go
  internal/gatewayapi/filters.go
  internal/gatewayapi/route.go
  internal/gatewayapi/testdata/backend-invalid-feature-disabled.out.yaml
  internal/gatewayapi/testdata/backendtlspolicy-invalid-ca.out.yaml
  internal/gatewayapi/testdata/backendtrafficpolicy-status-conditions.out.yaml
  internal/gatewayapi/testdata/backendtrafficpolicy-with-ratelimit-invalid-distinct-invert.out.yaml
  internal/gatewayapi/testdata/backendtrafficpolicy-with-timeout-targetrefs.out.yaml
  internal/gatewayapi/testdata/clienttrafficpolicy-http10.out.yaml
  internal/gatewayapi/testdata/custom-filter-order.out.yaml
  internal/gatewayapi/testdata/envoyextensionpolicy-status-conditions.out.yaml
  internal/gatewayapi/testdata/envoyextensionpolicy-with-wasm-targetrefs.out.yaml
  internal/gatewayapi/testdata/envoyproxy-accesslog-types.out.yaml
  internal/gatewayapi/testdata/envoyproxy-tls-settings-invalid-ns.out.yaml
  internal/gatewayapi/testdata/envoyproxy-tls-settings-invalid.out.yaml
  internal/gatewayapi/testdata/gateway-http-listener-with-hostname-intersection.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-tcproute-with-mismatch-port-protocol.out.yaml
  internal/gatewayapi/testdata/gateway-with-listener-with-udproute-with-mismatch-port-protocol.out.yaml
  internal/gatewayapi/testdata/grpcroute-with-backend.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-listener-with-backend-backendref-mixed-address-type.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-listener-with-backend-backendref.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-listener-with-multiple-backend-backendrefs-diff-address-type.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-listener-with-multiple-backend-backendrefs-same-address-type.out.yaml
  internal/gatewayapi/testdata/httproute-attaching-to-listener-with-serviceimport-backendref-mixed-address-type.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backend-ref-bad-port.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backend-ref-invalid-group.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backend-ref-invalid-kind.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backend-ref-no-port.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backend-ref-no-service.import.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backend-ref-no-service.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backend-ref-unsupported-filter.out.yaml
  internal/gatewayapi/testdata/httproute-with-invalid-backendref-in-other-namespace.out.yaml
  internal/gatewayapi/testdata/httproute-with-mirror-filter-service-no-port.out.yaml
  internal/gatewayapi/testdata/httproute-with-mirror-filter-service-not-found.out.yaml
  internal/gatewayapi/testdata/httproute-with-some-invalid-backend-refs-no-service.out.yaml
  internal/gatewayapi/testdata/securitypolicy-status-conditions.out.yaml
  internal/gatewayapi/testdata/securitypolicy-with-cors-targetrefs.out.yaml
  internal/gatewayapi/testdata/securitypolicy-with-extauth-backend.out.yaml
  internal/gatewayapi/testdata/tcproute-with-backend.out.yaml
  internal/gatewayapi/testdata/tlsroute-invalid-reference-grant.in.yaml
  internal/gatewayapi/testdata/tlsroute-invalid-reference-grant.out.yaml
  internal/gatewayapi/validate.go
Labels: release-note

#4860 fix: Gateway-target BTP ignored when route timeout defined
  internal/gatewayapi/backendtrafficpolicy.go
  internal/gatewayapi/clustersettings.go
  internal/gatewayapi/route.go
  internal/gatewayapi/testdata/backendtrafficpolicy-with-httproute-timeout.in.yaml
  internal/gatewayapi/testdata/backendtrafficpolicy-with-httproute-timeout.out.yaml
  internal/gatewayapi/testdata/backendtrafficpolicy-with-timeout.out.yaml
  internal/gatewayapi/testdata/httproute-and-backendtrafficpolicy-with-timeout-error.out.yaml
  internal/gatewayapi/testdata/httproute-and-backendtrafficpolicy-with-timeout.out.yaml
  internal/gatewayapi/testdata/httproute-backend-request-timeout.out.yaml
  internal/gatewayapi/testdata/httproute-request-timeout.out.yaml
  internal/ir/xds.go
  internal/ir/zz_generated.deepcopy.go
  internal/xds/translator/route.go
  internal/xds/translator/testdata/in/xds-ir/http-route-timeout.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-timeout.clusters.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-timeout.endpoints.yaml
  internal/xds/translator/testdata/out/xds-ir/http-route-timeout.routes.yaml
  release-notes/current.yaml
Labels: cherrypick/release-v1.1.4, cherrypick/release-v1.2.4

#4886 [release/v1.2] Add registry for envoy proxy image
  api/v1alpha1/shared_types.go
  internal/infrastructure/kubernetes/proxy/testdata/daemonsets/component-level.yaml
  internal/infrastructure/kubernetes/proxy/testdata/daemonsets/default.yaml
  internal/infrastructure/kubernetes/proxy/testdata/daemonsets/disable-prometheus.yaml
  internal/infrastructure/kubernetes/proxy/testdata/daemonsets/override-labels-and-annotations.yaml
  internal/infrastructure/kubernetes/proxy/testdata/daemonsets/patch-daemonset.yaml
  internal/infrastructure/kubernetes/proxy/testdata/daemonsets/shutdown-manager.yaml
  internal/infrastructure/kubernetes/proxy/testdata/daemonsets/with-annotations.yaml
  internal/infrastructure/kubernetes/proxy/testdata/daemonsets/with-concurrency.yaml
  internal/infrastructure/kubernetes/proxy/testdata/daemonsets/with-extra-args.yaml
  internal/infrastructure/kubernetes/proxy/testdata/daemonsets/with-image-pull-secrets.yaml
  internal/infrastructure/kubernetes/proxy/testdata/daemonsets/with-name.yaml
  internal/infrastructure/kubernetes/proxy/testdata/daemonsets/with-node-selector.yaml
  internal/infrastructure/kubernetes/proxy/testdata/daemonsets/with-topology-spread-constraints.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/bootstrap.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/component-level.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/default.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/disable-prometheus.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/dual-stack.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/ipv6.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/override-labels-and-annotations.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/patch-deployment.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/shutdown-manager.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/with-annotations.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/with-concurrency.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/with-empty-memory-limits.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/with-extra-args.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/with-image-pull-secrets.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/with-name.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/with-node-selector.yaml
  internal/infrastructure/kubernetes/proxy/testdata/deployments/with-topology-spread-constraints.yaml
Labels: kind/bug, cherrypick/release-v1.2.4

#4767 fix: decouple gateway status updates from the reconciler
  internal/envoygateway/config/config.go
  internal/infrastructure/runner/runner.go
  internal/message/types.go
  internal/provider/kubernetes/controller.go
  internal/provider/kubernetes/kubernetes.go
  internal/provider/kubernetes/predicates.go
  internal/provider/kubernetes/predicates_test.go
  internal/provider/kubernetes/status.go
  release-notes/current.yaml
Labels: cherrypick/release-v1.2.4
